<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dadinho | Login / Criar Conta</title>
    <link rel="stylesheet" href="/dadinho/src/main/resources/static/css/cadastro.css"> 
</head>
<body>
    <div class="container-total">
        <div class="coluna-esquerda">
            <h2 class="titulo-esquerda">BEM VINDO DE VOLTA</h2>
            <p class="texto-esquerda">Conecte com sua conta<br>Insira suas informações pessoais</p>
            <a href="login.html" class="bot-login">LOGIN</a>
        </div>

        <div class="coluna-direita">
            <h2 class="titulo-direita">Criar Conta</h2>

            <form class="form-cadastro">
                <div class="input-grupo">
                    <i class="icon fas fa-user"></i> <input type="text" placeholder="Nome">
                </div>
                <div class="input-grupo">
                    <i class="icon fas fa-envelope"></i> <input type="email" placeholder="Email">
                </div>
                <div class="input-grupo">
                    <i class="icon fas fa-lock"></i> 
                    <input type="password" placeholder="Senha">
                </div>
                
                <p class="text-escolha">Escolha o tipo da conta</p>
                <div class="tipo-conta">
                    <button type="submit" class="but-user">USUÁRIO</button>
                    <button type="submit" class="but-admin">ADMINISTRADOR</button>
                </div>
                <button type="submit" class="btn-signup">Cadastrar</button>
            </form>
        </div>
    </div>

    <a href="index.html" class="bot-index">Voltar</a>

</body>
</html>