<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dadinho - Início</title>
    <link rel="stylesheet" href="/dadinho/src/main/resources/static/css/index.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="cadastro.html" class="entrar">ENTRAR</a>
        </header>

        <main class="main-content">
            <div class="logo-area">
                <div class="dice-image-placeholder">
                    </div>
                <h1 class="neon-title">DADINHO</h1>
            </div>

            <button class="btn-apostar">APOSTAR</button>
        </main>
    </div>
</body>
</html>