<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dadinho | Login</title>
        <link rel="stylesheet" href="/dadinho/src/main/resources/static/css/login.css">
    </head>
    <body>
        <div class="login-tela">
            <h2>entrar na conta</h2>

            <form class="form-login">
                <div class="input-grupo">
                    <i class="icon fas fa-envelope"></i> <input type="email" placeholder="Email">
                </div>
                <div class="input-grupo">
                    <i class="icon fas fa-lock"></i> 
                    <input type="password" placeholder="Senha">
                </div>
            
                <button type="submit" class="bot-entrar">Entrar</button>
            </form>
        </div>
        <a href="cadastro.html" class="bot-voltar">Voltar</a>
    </body>
</html>