/* login.css */

body {
    background-color: #f0f2f5; /* Fundo claro */
    /* Centraliza o conteúdo (o formulário) */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contêiner do Formulário */
.form-signin {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    max-width: 420px;
    margin: auto;
}

/* Título do Formulário */
.h3.mb-3 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #b90707;
    padding-bottom: 10px;
}

/* Botão Entrar */
.btn-primary.btn-block {
    background-color: #b90707; 
    border-color: #b90707;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%; /* Garante que o botão ocupe a largura total */
}

.btn-primary.btn-block:hover {
    background-color: #8f0707; 
    border-color: #8f0707;
}

/* Links de Navegação (Novo cadastro, Home, etc.) */
.nav-link {
    color: #b90707 !important; /* Texto vermelho */
    font-weight: 600;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #8f0707 !important;
}

/* Header (Logo) */
header {
    width: 100%;
    max-width: 420px;
    margin: 0 auto 20px auto;
    border-bottom: none !important;
}